html {
  background-color: lightblue;
}

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-family: 'Droid Serif', serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}
.nav-wrapper {
  background-color: wheat;
  height: 65px;
}

.navbar {
  margin: 0 auto;
  max-width: 400px;
  display: flex;
}

.nav-item {
  display: inline-block;
  flex-grow: 1;
  text-align: center;
  position: relative;
}

.nav-item a {
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  border-bottom: 2px solid white;
  background-color: purple;
  position: relative;
}

.nav-item > a:after {
  content: "";
  display: none;
  position: absolute;
  height: 2px;
  width: 40px;
  background-color: #fff;
  left: calc(50% - 20px);
  bottom: 1;

}

.nav-item a:hover:after {
  display: block;
}


.dropdown-menu {
  display: block;
  background-color: wheat;
  position: absolute;
  right0;
  width: 200px;
  text-align: left;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  border-radius: 5px;
  padding: 5px 0;
  transform: scale(0);
  transition: transform ease-in-out 500ms;
}

.dropdown-menu.open {
  transform: scale(1);
}

.dropdown-item a {
  color: white;
  display: block;

}

.dropdown-item a:hover {
  color: yellow;

}
